.conten__aside_article{
    color: #2380C4;
}

#titulo {
    display: flex;
    text-align: center;
    font-size: 12px;
  }

#titulo > p {
  align-self: center;
  margin: 0;
}
  
  .line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #2380C4;
    height: 0%;
    width: 30%;
    align-self: center;
  }


  .imgMini{
    grid-area: imgMini;
  }
  .titleMini{
    grid-area: titleMini;
    margin: 0;
    color: black;
    margin-left: 20%;
  }
  .textMini{
    grid-area: textMini;
    margin: 0;
    color: grey;
    font-size: 11px;
    margin-left: 20%;

  }
  .view__article{
    grid-area: view__article;
    margin: 0;
    margin-left: 10%;
    font-size: 14px;
  }

.content__notice__article {
    padding: 3%;
    background-color: white;
    width: 85%;
    display: grid;
    grid-template-areas: 
    "imgMini titleMini"
    "imgMini textMini"
    "imgMini view__article";
    height: 4%;
    border-radius: 10px;
        margin-bottom: 16%;
}  

.view__article {
    display: flex;
    align-self: center;
    width: 50%;
    z-index: 0;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.view__article__buttons{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    margin: 0 !important;
    gap: 18px;
    display: -webkit-inline-box;
    cursor: pointer;
}

.final_article__send >li {
    font-size: 13px;
}

.imageNoticeMini {
    width: 150%;
    border-radius: 15px;
    margin-left: 4%;
    margin-top: 4%;
}

.separation {
    display: block;
    margin: 0;
    width: 0;
    background-color: transparent;
    height: 0;
}

.content__notice__article >h5 {
  font-size: 11px;
}