.content__center {
    display: flex;
    width: 100%;
    margin-bottom: 50%;
    margin-left: 3%;
    height: 140vh;
}

.article__center {
    display: flex;
    width: 70%;
    margin-bottom: 50%;
}

.article__center__aside {
    display: flex;
    width: 24%;
    margin-top: 10%;
    margin-left: 4%;
}

.article__center :nth-child(1){
    background-color: white;
    border-radius: 10px;
}


.imageNotice{
    object-fit: cover;
    width: 87%;

}

.article_center__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    margin-top: 12%;
}

p {
    text-align: justify;
}

.article__button {
    display: flex;
    align-items: center;
}

.article__button >button {
    background-color: #65B32E;
    color: white;
    border: none;
    display: inline-block;
    height: 30px;
    width: 90px;
    border-bottom-right-radius:25px;
    border-top-left-radius:25px;

}

.item-a {
    grid-area: img;
  }
  .item-b {
    grid-area: title;
    margin: 0;
  }
  .item-c {
    grid-area: update;
  }

.section__notice{
    display: grid;
    justify-content: start;
    grid-template-areas: 
    "img title"
    "img update";
    margin-left: 5%;
}

.section__notice > p{
margin: 0;
color: gray;
font-size: 14px;
}

.article__links{
    display: flex;
}
ul{
    margin: 0!important;
}

.article__links > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    color: #2983C5;
    text-align: center;
}
.article__links >ul >li:nth-child(2){
    margin-right: 10px;
}
.article_center__description>button{
display: block;
width: 66px;
position: absolute;
left: 75px;
top:190px;
background-color: #2380C4!important;
color: white;
border: none;
border-bottom-left-radius: 0px!important;
border-top-left-radius: 0px!important;
cursor: pointer;
}

.final__article {
    display: flex;
    border: 1px solid #2380C4;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    align-self: center;
    width: 50%;
    z-index: 0;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 6px 0px;
}

.final_article__send{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    margin: 0 !important;
    gap: 50px;
}

.final_article__send >li {
    font-size: 13px;
    cursor: pointer;
}
