.footer__content{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #1A80C7;
    height: 12vh;
    position: absolute;
    top: 1470px;
}

.footer__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4%;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    color: white;
}

.footer__links{
    display: flex;
}

.footer__links > ul {
    list-style: none;
    display: flex;
    gap: 87px;
    font-size: 12px;
}

.footer__links > ul >li{
    color: white;
    cursor: pointer;
}

.footer__author >p{
    color: white;
    margin: 0;
    text-align: center;
    padding: 4px 113px;
    font-size: 12px;
}



@media screen and (max-width: 769px) {
.footer__content {
    top: 1639px;
    width: 103%;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.footer__links > ul {
    list-style: none;
    display: flex;
    /* gap: 87px; */
    font-size: 12px;
}



.footer__title {
    text-overflow: ellipsis;
    margin-left: 4%;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    color: white;
    width: 40%;
    margin-left: 4%;
}

.logo {
    width: 7%;
    height: 100%;
}
}

@media screen and (max-width: 425px) {
.footer__content {
    top: 1160px;
}
.footer__author > p {
    font-size: 7px;
}

.logo {
    object-fit: contain;
}

.footer__title >div{
display: none;
}
}